body{
scroll-behavior: auto;
padding: 1px;
}
.Logo{
    width: 200px;
    height: 100px;
    display: block;
    margin: auto;
}
.parallax-window{
    height: 700px;
    width: 100%;
}
.textLogo{
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    font-weight: bold;
}
.textLogo-2{
    margin-top: 40px;
    font-size: x-small;
}
nav{
    clear: both;
}
nav ul{

    height: 100px;
    text-align: center;
}
nav ul li{
   display: inline-block;
   color: #9d7d7d;
   margin-top: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #837979;
    font-size: 20px;
    margin: 20px;
}
nav ul li a:hover{
    background: beige;
    border-radius: 7px;
}
.logoImage-1{
    position: relative;
    text-align: center;
    top: 60px;
}
.image-1 {
    width: 400px;
    width: 46%;
    padding: 30px 15px 20px 15px;
}
.image-2{
    width: 400px;
    width: 46%;
    padding: 30px 15px 20px 15px;
}

.text_1 .image-1{
    width: 400px;
    float: bottom;
    position: relative;
    top: 60px;
}

.text-1{///
    width: 200px;
    text-align: left;
    width: 30%;
    position: relative;
    padding: 2px 20px 23px 55px;
    font-size: 18px;
    float: left;
}
.text_right{
    /* don't work */


    padding: 1px 100px 33px 25px;
    font-size: 18px;
    float: right;
    width: 30%;
    text-align: center;
}
.text-1 p {
    font-size: 14px;
    position: relative;
    padding: 26px 44px -10px 20px;
    margin-left: 50px;
    color: #837979;
    text-align: justify;

}

.paragraf  {
    margin: 8px;
    color: #837979;

}
.paragraf-2 {
    margin: 80px;

}
.text-3{
    font-size: 14px;
    text-align: justify;
    color: #837979;
    line-height: 160%;

}
.text-13{
    font-size: 14px;
    text-align: justify;
    color: #837979;
    position: relative;
    top: 24px;
    line-height: 160%;
}
.text_1{
    position: relative;
    text-align: center;
    top: 60px;
}
.btnlink  {

   color: #9d7d7d;
    font-size: 10px;
    width: 140px;
    padding: 25px;
    margin: 15px 10px 0px  18px;
    border: solid 2px black;
    border-radius: 5px;
    text-align: center;

    margin: 15px 34px;
}
.button_1 a {

    background: black;
    color: white;
    text-decoration: none;
}
.btnlink:hover{
    background: black;
    color: white;
}


.btnlink_2 {
    position: relative;
    color: #9d7d7d;
    font-size: 10px;
    width: 140px;
    padding: 25px;
    border: solid 2px black;
    border-radius: 5px;
    text-align: center;
    margin: 49px 3px;

}
.button_2 a {

    background: black;
    color: white;
    text-decoration: none;
}
.btnlink_2:hover{
    background: black;
    color: white;
}
.logoPage_2{
    margin-top: 500px;
    text-align: center;
    color: #837979;
    margin-bottom: 100px;
}
.textlink{
    text-align: center;
    position: relative;
   margin: -540px 0px 60px;
    font-size: 27px;
}
.buttonCall{

    color: black;
    font-size: 10px;
    width: 120px;
    height: 20px;
    padding: 25px;
    margin: 15px 10px 0px  18px;
    border: solid 2px black;
    border-radius: 5px;
    text-align: center;
    position: relative;
    top: 100px;
    display: inline-block;
    margin: 15px 34px;
}
.buttonCall a {

    background: black;
    color: white;
    text-decoration: none;
}
.buttonCall:hover{
    background: black;
    color: white;
}
.text-4{
    text-align: center;
    position: relative;
    top: 300px;
    font-size: 20px;
}
.text-5{
    text-align: center;
    position: relative;
    top: 340px;
    color: #837979;
    font-size: 10px;
}
.buttonShop{
    color: black;
    font-size: 10px;
    width: 140px;
    height: 6px;
    padding: 25px;
    margin: 15px 10px 0px  18px;
    border: solid 2px black;
    border-radius: 5px;
    text-align: center;
    position: relative;
    top: 370px;
    display: inline-block;
    margin: 15px 34px;

}
.buttonShop:hover{
    background: black;
    color: white;

}
.contentSlider {
    display: flex;
    position: relative;
    top: 450px;


}
.contentSlider a {
   display: block;
    height: 250px;
    border-radius: 10px;
    display: block;
    margin: auto;
}
.contentSlider a img{

    width: 100%;
    height: 100%;
    object-fit: cover;
}
.linearBorder{
    border: solid 1px black;
    width: 100%;
    height: 20px;
    background-color: #9d7d7d;
    color: black;
    position: relative;
    top: 470px;
}

.sotial-icons{
    display: flex;
    justify-content: center;
    position: relative;

}


.sotial-icons ul li{
    display: inline-block;
    width: 30px;
    height: 40px;
    color: #7a6060;
    position: relative;
    top: 780px;
}


.fa:hover{
    opacity: 0.5;
}

.textLogo_3{
    text-align: center;
    font-size: 20px;
    font-family: Verdana sans-serif;
    position: relative;
    top: 590px;
}
/* Location Page content 39%*/


.logoLocationImage  {
    width: 40%;
    margin-left: 40px;
    float: left;
    padding: 0 10px;
    position: relative;
    top: -40px;
    border-radius: 19px 20px 5px;

}

.textlocationPage{
    text-align: justify;
    font-family: Verdana;
    line-height: 160%;
    font-size: 1.4vw;
    position: relative;
    top: 12vw;
}
.txt_1{

    text-align: left;
    font-size: 3.0vw;

}
.txt_1 p{
    text-align: right;
    font-size: 3.0vw;
    margin-left: 10px;
}
.containerImage{

    width: 96%;
    position: relative;
    top: 520px;
    padding: 10px;

}

/*
.text_1{
    text-align: right;
    font-size: 2.0vw;
    position: relative;
    margin-right: 440px;
    float: left;
}


 */
.apiMap_2{
    width: 35vw;
    height: 20vw;
    float: left;
    position: relative;
    top: 15.1vw;
    margin-left: 11%;
}
.apiMap_1{
    width: 36vw;
    height: 20vw;
    position: relative;

    margin-left: 12%;
}
.textPage_1{
    position: relative;
    top: 30px;
}
.textPage_2{
    position: relative;
    top: 30px;
}

#footer{
    display: flex;
    justify-content: center;
    position: relative;

}
#footer .imgfooter{

    width: 5.10vw;
    padding: 20px;
    position: relative;
    top: 750px;
}

