<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link  rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <title>Brew guides</title>
</head>
<body>
{{template "header"}}
{{template "nav"}}
{{template "footer"}}
<h1>BREW GUIDES</h1>
</body>
</html>