<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <title>Contact Us</title>
</head>

<body>
    {{template "header"}}
    {{template "nav"}}


    <div class="containerimg">
        <img class="logoLocationImage" src="/assets/image/hello.jpg">
    </div>
    <div class="textlocationPage">
        <p class="txt_1">Valletta</p>
        Lot Sixty One Coffee Roasters,<br>

        30, Old Theatre Street,<br>

        Valletta, Malta
    </div>



    <div class="apiMap_1">
        <script type="text/javascript" charset="utf-8" async
            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A2a71aed3f4aa3b6d1b1a6c3b62f757552cb486830833f6d58a1fdf1361ade01b&amp;&amp;&amp;lang=ru_RU&amp;scroll=true"></script>
        <div class="textPage_1">VALETTAS</div>
    </div>

    <div class="apiMap_2">
        <script type="text/javascript" charset="utf-8" async
            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A500b17fda574c8a02b58ff991b61658973517894bd0c65de4e17ea4264a63b8e&amp;&amp;&amp;lang=ru_RU&amp;scroll=true"></script>
        <div class="textPage_2">ST. JULIANS</div>
    </div>

    <div class="containerImage">
        <img class="logoLocationImage" src="/assets/image/spinola.jpg">
        <div class="textlocationPage">
            <p class="txt_1">St.JULIANS</p>
            Lot Sixty One Coffee Roasters,<br>

            Spinola Park, Triq Mikiel Ang Borg,<br>

            San Ġiljan, Malta

        </div>
    </div>

</body>

</html>