{{define "header"}}
<header>
  <div id="header">
    <a href="index"><img class="Logo" src="/assets/image/LOT61.jpg"></a>
  </div>
</header>
{{end}}
{{define "nav"}}
<nav>
  <ul>
    <li><a href="/">OUR COFFEE</a></li>
    <li>|<a href="/contact">LOCATIONS</a></li>
    <li>|<a href="/about">SHOP</a></li>
    <li>|<a href="/brew">BREW GUIDES</a></li>
  </ul>
</nav>
{{end}}
{{define "footer"}}
  <div class="textLogo_3">
    LOT 61 COFFEE ROASTERS MALTA
  </div>
  <div id="footer">
    <img  class="imgfooter" src="/assets/image/img_8.gif">
    <img  class="imgfooter" src="/assets/image/img_6.png">
    <img  class="imgfooter" src="/assets/image/img_7.png">
    <img  class="imgfooter" src="/assets/image/img_9.jpg">

  </div>
{{end}}
