<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <title>Home Page Golang</title>
    <div id="container">
        <div id="header">
            <a href="index"><img class="Logo" src="/assets/image/LOT61.jpg"></a>
        </div>
    </div>
</head>

<body>
    {{template "nav"}}
    <div class="content">
        <img class="parallax-window" data-speed="0.02" data-parallax="scroll"
            data-image-src="/assets/image/image-asset.jpg">
    </div>
    <div class="textLogo">
        WELCOME TO LOT61 COFFEE ROASTERS MALTAS

        <p class="textLogo-2">
            WHERE AUTHENTICITY IS EVERYTHING. ROASTING LOCALLY IN MALTA
        </p>
    </div>
    <div class="logoImage-1">
        <img class="image-1" src="/assets/image/Lot+Sixty+One+-+Products-9-lr.jpg">
        <img class="image-2" src="/assets/image/Jute+bags.jpg">
    </div>

    <div class="text_1">
        <h2 class="text-1">LOCAL COFFEE ROASTER

            <p class="paragraf">
            <p>OUR COMMITMENT TO
            <p>ROAST AND SERVE
            <p>QUALITY COFFEE
            <p class="text-3">For us, Coffee has always been about the joy of
                connecting people. We’re a proud community of
                like-minded misfits, constantly on the search to
                deliver coffee experiences in better, more
                interesting ways.
            </p>
            <div class="button_1">
                <a href="contact">
                    <h3 class="btnlink">OUR COFFEE BARS</h3>
                </a>
            </div>
        </h2>

        <h2 class="text_right">OUR COFFEE
            <p class="paragraf-2">

            <p class="text-13">For us, coffee has always been about the joy of
                connecting people. We’re a proud community of
                like-minded misfits, constantly on the search to
                deliver coffee experiences in better, more
                interesting ways.
            </p>
            <div class="button_2">
                <a href="/">
                    <h3 class="btnlink_2">LEARN MORE</h3>
                </a>
            </div>
        </h2>
    </div>
    <div>
        <h1 class="logoPage_2">“COFFEE IS A KIND OF MAGIC YOU CAN DRINK”</h1>
    </div>

    <div class="logoimg">
        <img class="parallax-window" data-speed="0.02" data-parallax="scroll"
            data-image-src="/assets/image/DSC_5136.jpg">
        <h2 class="textlink">
            <p>LOCAL COFFEE ROASTERS<br>
                SPECIALTY COFFEE<br>
                AUTHORIZED <span>LA MARZOCCO</span> RESELLERS<br>
                MADE IT TO TOP 50 COFFEE SHOPSIN EUROPE.<br>
                CORPORATE EVENTS AND WEDDINGS<br>
                ESTABLISHED ON INTERNATIONAL MAGAZINES</p>
            <div class="buttonCall" data-title="344353453533">
                CALL US
            </div>

            <div class="text-4">
                ONLINE SHOP
            </div>
            <div class="text-5">
                ROASTED LOCALLY.<br>
                <p></p>
                FRESHEST COFFEE ON THE<br> ISLAND<br>
                DELIVERED DIRECTLY TO YOUR DOOR
            </div>
            <div class="buttonShop">
                VISIT OUR SHOP
            </div>
        </h2>
    </div>

    <div class="contentSlider">
        <a data-fancybox="images" href="/assets/image/img-1.jpg" data-caption="Caption #2"><img
                src="/assets/image/img-1.jpg" alt="" /></a>
        <a data-fancybox="images" href="/assets/image/img-2.jpg" data-caption="Caption #2"><img
                src="/assets/image/img-2.jpg" alt="" /></a>
        <a data-fancybox="images" href="/assets/image/img-3.jpg" data-caption="Caption #2"><img
                src="/assets/image/img-3.jpg" alt="" /></a>
        <a data-fancybox="images" href="/assets/image/img-4.jpg" data-caption="Caption #2"><img
                src="/assets/image/img-4.jpg" alt="" /></a>
        <a data-fancybox="images" href="/assets/image/img-5.jpg" data-caption="Caption #2"><img
                src="/assets/image/img-5.jpg" alt="" /></a>
    </div>
    <div class="linearBorder">

    </div>
    <div class="sotial-icons">
        <ul>
            <li><i class="fa fa-facebook-f"></i></li>
            <li><i class="fa fa-linkedin"></i></li>
            <li><i class="fa fa-twitter"></i></li>
            <li><i class="fa fa-gitlab"></i></li>
            <li><i class="fa fa-github"></i></li>
        </ul>
    </div>

    <!--div class="textLogo_3">
    LOT 61 COFFEE ROASTERS MALTA
</div>
    <div id="footer">
        <img  class="imgfooter" src="/assets/image/img_8.gif">
        <img  class="imgfooter" src="/assets/image/img_6.png">
        <img  class="imgfooter" src="/assets/image/img_7.png">
        <img  class="imgfooter" src="/assets/image/img_9.jpg">

    </div-->
    {{template "footer"}}
    <script src="/assets/lib/jquery-3.6.2.min.js"></script>
    <script src="/assets/lib/parallax.min.js"></script>
    <script type="text/javascript" src="/assets/js/script.js"></script>
    <script src="https://kit.fontawesome.com/398c9a9c8a.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

</body>

</html>